body {
	background-color: #EAEAEA;
}

.table {
    cursor: pointer;
}

td {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }

.tooltip {
    background-color: #cccccc;
    color: black;
    font-weight: bold;
}

form > div {
    margin-bottom: 10px;
}